<form action="/addnewprod" method="post" enctype="multipart/form-data">
    <p>
        <label>Tên sản phẩm</label> <input type="text" name="productName">
       </p>
        <p>
        <label>Hình sản phẩm</label> <input type="file" name="productImage">
        </p>
       <p> <input type="submit" value="Thêm sản phẩm"> </p>
</form>